/files/
/tmp/
/dev-dist

.env.development
.env
.env.production

.DS_Store
._*
node_modules
/dist
/dist-electron
update.md

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
